/* Updated styles.css */
body {
    font-family: Mako;
    margin: 0;
    padding: 0;
}

header {
    background-color: #EFE5DC;
    color: #000000;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

#logo {
    width: 85px;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #FBFEFB;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #EFE5DC;
}

.square-layout {
    text-align: right;
    background-color: #F3D8C7;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #77696A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Contact Me Section Styling */
#contact {
    background-color: #EFE5DC;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #77696A;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5d5555;
}

/* Footer Styling */
footer {
    background-color: #444;
    color: #FBFEFB;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: #FBFEFB;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
